* {
      box-sizing: border-box;
      margin: 0%;
      padding: 0%;
}

.page1 {
      background: linear-gradient(#00000080, rgba(0, 0, 0, 0.5)),
            url('flowers.jpg');
      height: 100vh;
      background-size: cover;
      color: aliceblue;

}

.header1 {

      padding: 40px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      font-family: math;
      justify-content: space-between;
      display: flex;

}

.contant {
      max-width: 70%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;



}

.introduction {
      justify-content: center;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 34px;
      font-weight: bold;
      font-size: 40px;
      color: rgb(238, 174, 229);
}

.body {


      text-align: center;
      margin: 0px auto;
      max-width: 500px;
      margin-bottom: 89px;
      font-size: 25px;
      font-family: math;

}

.Contact-us-btn {
      margin: auto;
      margin-top: 89px;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 34px;
      padding: 20px;
      font-weight: bold;
      background-color: transparent;
      color: rgb(232, 176, 223);
      cursor: pointer;
      padding-left: 40px;
      padding-right: 40px;
}

.Contact-us-btn:hover {
      background-color: rgb(255, 255, 255);
}

.Page2 {
      background-color: rgb(237, 209, 223);
      color: aliceblue;
      min-height: 100vh;
      padding-bottom: 140px;

}

.images-header {

      align-items: center;
      font-weight: bold;
      font-size: 40px;
      display: flex;
      font-family: math;
      justify-content: center;
      padding-top: 70px;
}

.images {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 80vw;

      margin: auto;
      margin-top: -147px;
      gap: 45px;

}

.image img {
      max-width: 100%;
      aspect-ratio: 16/9;
      border: 2px solid white;
      border-radius: 25px;
      box-shadow: 3px 4px 7px 0px white;


}

.image-description {

      align-items: center;
      color: 
      rgb(255, 255, 255);
      font-size: 29px;
      display: flex;
      font-family: math;
      justify-content: center;
      padding: 90px;

}

.head1{
      background-color: rgb(242, 131, 177);
      height: 50vh;
}

.image-overlay {
      background-color: rgba(0, 0, 0, 0.443);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      border-radius: 25px;
      padding: 20px;
      font-size: 3rem;
      opacity: 0;
      transition: all 0.5s ease-in-out;
}

.image {
      position: relative;      
}

.image:hover .image-overlay {
      opacity: 1;
}
